
    $font1: 'Poppins', sans-serif;
    $font2: 'Fredoka', sans-serif;


    $color-bg: white;
    $color-bgblue: #023059;
    $color-text: white;
    $color-textblue: #023059;
    $color-card: #023059;
    $color-btn:#023059;
    $color-btntxt:white;
    $color-borderbnt: #033b6d;
    $color-txtshadow:#01549c8f;
    $color-bgbutton: #023059;
    $color-bgslide:#023059;
    $color-imgdarkm: black;
    
    $color-bg--dark: #080b13;
    $color-text--dark: #f2f2f2;
    $color-bgblue--dark: #080b13;
    $color-textblue--dark: #ffffff;
    $color-card--dark: #2C2D33;
    $color-btn--dark: #f2f2f2;
    $color-btntxt--dark:black;
    $color-borderbnt--dark: #6b6565;
    $color-txtshadow--dark:#6b65657a;
    $color-bgbutton--dark: gray;
    $color-bgslide--dark:#f2f2f2;
    $color-imgdarkm--dark: white;
    